include _configuraciones

footer.footer
    .footer__parte1
        .footer__parte1__icons
            a(href="#") #{redes[2]}
            a(href="#") #{redes[1]}
            a(href="#") #{redes[0]}
        .footer__parte1__nosotros
            a(href="#") #{links[4]}
    .footer__parte2
        .footer__parte2__envios
            a(href="#") #{links[6]}
        .footer__parte2__garantias
            a(href="#") #{links[7]}


